@page
@model H3AuctionHouse.Pages.AddItemModel
@{
    ViewData["Title"] = "Add Item";
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <form method="post">
            <h2>Add an item to auction</h2>
            <hr>
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="@Model.ProductName"></label>
                <input asp-for="@Model.ProductName">
            </div>
            <div>
                <label asp-for="@Model.Description"></label>
                <input asp-for="@Model.Description">
            </div>
            <div>
                <input class="form-control" asp-for="ExpireDate" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                <select asp-for="SelectedCategory" asp-items="Model.Categorys">
                </select>
            </div>
            <div>
                <button type="submit">Create Item</button>
            </div>
        </form>
        <p>@Model.Errormsg</p>
    </div>
}
