@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if (HttpContext.Session.GetString("user") != null)
    {
        <form>
            <p>
                <select asp-for="SelectedCategory" asp-items="Model.Categorys">
                    <option value="">All</option>
                </select>
            </p>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Expirery Date</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Highest Bid</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Product.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Product.ExpireryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Product.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Product.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Product.HighestBidder)
                        </td>

                        <td>
                            <a asp-page="/ItemDetails" asp-route-id="@item.Product.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Login or Register to see items on Auction</p>
        </div>
    }
}
