@page
@model H3AuctionHouse.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    if (HttpContext.Session.GetString("user") == null)
    {
        <h1>@ViewData["Title"]</h1>
        <div class="row">
            <form method="post">
            <h2>Use a local account to log in.</h2>
            <hr>
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="@Model.Username"></label>
                <input asp-for="@Model.Username">
            </div>
            <div>
                <label asp-for="@Model.Password"></label>
                <input asp-for="@Model.Password">
            </div>
            <div>
                <button type="submit">Log in</button>
            </div>
        </form>
        </div>
        <p>@Model.Errormsg</p>
    }
    else
    {
        <p>You are already logged in</p>
    }

}